{% extends 'base.html' %}

{% block content %}

<h1>Adding orders</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}

  <div class="form-group">
    <label for="order_id">{{ form.order_id.label }}</label>
    {{ form.order_id(class="form-control col-sm-4",id="order_id") }}
  </div>

  <div class="form-group">
    <label for="amount">{{ form.amount.label}}</label>
    {{form.amount(class="form-control col-sm-4", id="amount")}}
  </div>

  <div class="form-group">
    <label for="buyer">{{ form.buyer.label}}</label>
    {{form.buyer(class="form-control col-sm-4", id="buyer")}}
  </div>

  <div class="form-group">
    <label for="status">{{ form.status.label}}</label>
    {{form.status(class="form-control col-sm-4", id="status")}}
  </div>
  <br>
  {{form.submit(class="btn btn-primary")}}

  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success col-sm-4" role="alert">
  {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

{% endblock %}
