{% extends 'base.html' %}

{% block content %}

<h3>Adding orders</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} col-sm-4" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<hr>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}

  <div class="form-group">
    <label for="buyer">{{ form.buyer.label}}</label>
    {{form.buyer(class="form-control col-sm-4", id="buyer")}}
  </div>

  <div class="form-group">
    <label for="amount">{{ form.amount.label}}</label>
    {{form.amount(class="form-control col-sm-4", id="amount")}}
  </div>

  <div class="form-group">
    <label for="order_status">{{ form.order_status.label}}</label>
    {{form.order_status(class="form-control col-sm-4", id="order_status")}}
  </div>
  <br>
  {{form.order_submit(class="btn btn-primary")}}

  </form>

{% endblock %}
