{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h3>Welcome {{current_user.name}}</h3>
{% endif %}

<div class= "table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Amount(SGD)</th>
      <th scope="col">Shipping(SGD)</th>
      <th scope="col">Status</th>
      <th scope="col">Buyer</th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
    <tr>
      <td><a target="_blank" href="https://pcs.i56.taobao.com/user/consolidation/conso_order_detail?tradeId={{ order.order_id }}">{{ order.order_id }}</a></td>
      <td>{{ order.amount }}</td>
      {% if order.ship_amount == None %}
      <td></td>
      {% else %}
      <td>{{ order.ship_amount}}</td>
      {% endif %}
      <td>{{ order.status}}</td>
      <td>{{ order.user_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock %}
