{% extends "base.html" %}

{% block content %}

<h3>Taobao Orders</h3>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} col-sm-4" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Orders -->
<div class= "table-responsive-lg">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Amount(SGD)</th>
      <th scope="col">Status</th>
      <th scope="col">Shipping(SGD)</th>
      <th scope="col">Shipping Status</th>
      <th scope="col">Buyer</th>
      {% if current_user.is_authenticated %}
      <th scope="col">Details</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
    <tr> <!-- Order ID -->
      {% if order.order_id == None %}
      <td></td>
      {% else %}
      <td><a target="_blank" href="https://pcs.i56.taobao.com/user/consolidation/conso_order_detail?tradeId={{ order.order_id }}">{{ order.order_id }}</a></td>
      {% endif %}
      <!-- Order Amount -->
      <td>{{ order.amount }}</td>
      <!-- Status -->
      <td>{{ order.order_status}}</td>
      <!-- Ship amount -->
      {% if order.ship_amount == None %}
      <td><a href = "/edit/{{order.id}}">Click here to update</a></td>
      {% else %}
      <td>{{ order.ship_amount}}</td>
      {% endif %}
      <!-- Shipping status -->
      {% if order.ship_status == None or order.ship_status == "Not Paid" %}
      <td><a href = "/edit/{{order.id}}">Not Paid</a></td>
      {% else %}
      <td>{{order.ship_status}}</td>
      {% endif %}
      <!-- Buyer name -->
      <td>{{order.buyer.name}}</td>
      <!-- Details -->
      {% if current_user.is_authenticated %}
      <td><a href = "/edit/{{order.id}}">Details</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock %}
