{% extends 'base.html' %}

{% block content %}


<form action="" method="post">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="username">{{ form.username.label }}</label>
    {{ form.username(class="form-control col-sm-4",id="username") }}
  </div>

  <div class="form-group">
    <label for="password">{{ form.password.label }}</label>
    {{ form.password(class="form-control col-sm-4",id="password") }}
  </div>
  {{form.login_submit(class="btn btn-primary")}}

</form>
<!-- <p> Do not have an account yet? Click <a href="/register">here</a> to register!</p> -->

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message=='Account created! Kindly login now.' %}
<div class="alert alert-success col-sm-4" role="alert">
{{ message }}
</div>
{% else %}
<div class="alert alert-danger col-sm-4" role="alert">
{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
