{% extends 'base.html' %}

{% block content %}

<h3>{{current_user.name}} Orders</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Amount(SGD)</th>
      <th scope="col">Status</th>
      <th scope="col">Shipping(SGD)</th>
      <th scope="col">Shipping Status</th>
      {% if current_user.is_authenticated %}
      <th scope="col">Details</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
    <tr> <!-- Order ID -->
      {% if order.order_id == None %}
      <td></td>
      {% else %}
      <td><a target="_blank" href="https://pcs.i56.taobao.com/user/consolidation/conso_order_detail?tradeId={{ order.order_id }}">{{ order.order_id }}</a></td>
      {% endif %}
      <!-- Order Amount -->
      <td>{{ order.amount }}</td>
      <!-- Status -->
      <td>{{ order.order_status}}</td>
      <!-- Ship amount -->
      {% if order.ship_amount == None %}
      <td><a href = "/edit/{{order.id}}">Click here to update</a></td>
      {% else %}
      <td>{{ order.ship_amount}}</td>
      {% endif %}
      <!-- Shipping status -->
      {% if order.ship_status == None or order.ship_status == "Not Paid" %}
      <td><a href = "/edit/{{order.id}}">Not Paid</a></td>
      {% else %}
      <td>{{order.ship_status}}</td>
      {% endif %}
      <!-- Details -->
      {% if current_user.is_authenticated %}
      <td><a href = "/edit/{{order.id}}">Details</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
