{% extends 'base.html' %}

{% block content %}

<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="username">{{ form.username.label }}</label>
    {{ form.username(class="form-control col-sm-4",id="username") }}
  </div>

  <div class="form-group">
    <label for="name">{{ form.name.label }}</label>
    {{ form.name(class="form-control col-sm-4",id="username") }}
  </div>

  <div class="form-group">
    <label for="password">{{ form.password.label }}</label>
    {{ form.password(class="form-control col-sm-4",id="password") }}
  </div>

  <div class="form-group">
    <label for="password2">{{ form.password2.label}}</label>
    {{ form.password2(class="form-control col-sm-4", id="password2") }}
  </div>

  {{form.register_submit(class="btn btn-primary")}}
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger col-sm-4" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
